* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

}

header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;  /* aggiunto un padding per un po' di spazio intorno agli elementi dell'header */
    background-color: white;
    border-bottom: 2px solid #ccc;  /* un sottile bordo in basso per separare l'header dal contenuto */

    /* Arrotonda gli angoli inferiori dell'header */
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

    /* Aggiunge un'ombra azzurra sotto al bordo inferiore */
    box-shadow: 0px 4px 10px #0057FF;
}

.logo img {
    max-width: 120px;  /* o qualsiasi altra dimensione tu preferisca */
    height: 50px;
}

.nav {
    display: flex;
    gap: 20px;  /* spazio tra i link */
}

.nav a {
    text-decoration: none;
    color: #333;  /* un colore scuro per i link */
    font-weight: bold;
    transition: color 0.3s ease;  /* un piccolo effetto di transizione per i link al passaggio del mouse */
}

.nav a:hover {
    color: #007bff;  /* cambia colore quando il mouse passa sopra */
}

.primary-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container-form {
    text-align: center;
    border: 1px solid #134077;
    border-radius: 19px;
    width: 350px;
    height: 380px;
}

h2{
    font-size: 32px;
    color: #134077;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

label {
    font-size: 13px;
    color: #231F20;
}

a{
    font-size: 13px;
    color: #2D224C;
}

input{
    font-size: 16px;
    line-height: 20px;
}

button {
    background-color: #0057FF;
    color: white;
    border-radius: 11px;
    padding: 10px;
    margin: 10px 10px;
}


/* per menù a tendina in header */

/* CSS per il menù hamburger e il contenuto del menù */
.hamburger-menu {
    position: relative;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    right: 0; /* allinea il menu a destra */
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #f1f1f1;
}
