header {
    height: 163px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;  /* aggiunto un padding per un po' di spazio intorno agli elementi dell'header */
    background-color: white;
    border-bottom: 2px solid #ccc;  /* un sottile bordo in basso per separare l'header dal contenuto */
}

.logo img {
    max-width: 123px;  /* o qualsiasi altra dimensione tu preferisca */
    height: 52px;
}

.nav {
    display: flex;
    gap: 20px;  /* spazio tra i link */
}

.nav a {
    text-decoration: none;
    color: #333;  /* un colore scuro per i link */
    font-weight: bold;
    transition: color 0.3s ease;  /* un piccolo effetto di transizione per i link al passaggio del mouse */
}

.nav a:hover {
    color: #007bff;  /* cambia colore quando il mouse passa sopra */
}
